$padding: 8px;
$margin: 8px;

$radius: 4px;

$mainFont: "Manrope", Helvetica, Arial, sans-serif;

$mainColor: #000000;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1;

$desktopWidth: 1200px;
$smDesktopWidth: 1024px;
$TableDesktopWidth: 992px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;


$border-color: rgba(65, 97, 128, 0.2);
$border-input-color: #BCD2E0;
$label-color: #6087A0;
$placeholder-color: #7C9DB3;

$color-black: #1C2A3E;
$color-orange: #F79647;
$color-green: #01AC50;
$color-blue: #2196F3;
$color-red: #C0504C;
